<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2><%= @merchant.user_name %> — <%= t('.merchant_dashboard') %></h2>
    </div>
  </div>

  <div class="level-right">
    <%= link_to t('.dashboard'), merchant_dashboard_index_path(@merchant), class: 'level-item is-size-4' %>
    <%= link_to t('.my_items'), merchant_items_path(@merchant), class: 'level-item is-size-4' %>
    <%= link_to t('.my_invoices'), merchant_invoices_path(@merchant), class: 'level-item is-size-4' %>
  </div>
</nav>
<hr>
