<h2> items in cart</h2>
<% @item_list.each do |item| %>
  <%= item.name %>
  <%= cart.count_of(item.id) %>
  <%= link_to 'Remove Item', "/cart/#{item.id}", method: :delete %>
<% end %>
<% if customer_signed_in? %>
  <%= link_to 'Create Order', orders_path, method: :post %>
<% else %>
  <%= link_to 'Sign in to Create Order', new_customer_session_path %>
<% end %>
