<h2><%= @customer.name %>'s Cart </h2>
<h2> items in cart</h2>
<% @item_list.each do |item| %>
  <%= item.name %>
  <%= cart.count_of(item.id) %>
  <%= link_to 'Remove one', "/cart/#{item.id}", method: :delete %>
<% end %>

<%= link_to 'Create Order', orders_path, method: :post %>
