<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2><%= t('.items_in_cart') %></h2>
    </div>
  </div>

  <div class="level-right">
    <% if user_signed_in? && current_user.customer != nil %>
      <%= link_to t('.checkout'), orders_path, method: :post, class: 'button is-medium is-success' %>
    <% else %>
      <%= link_to t('.checkout'), new_user_session_path, class: 'button is-medium is-success' %>
    <% end %>
  </div>
</nav>
<hr>

<section class="section">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th><%= t('.checkout') %></th>
        <th><%= t('.item_name') %></th>
        <th><%= t('.quantity') %></th>
        <th><%= t('.update') %></th>
      </tr>
    </thead>
    <tbody class="has-text-centered">
      <tr>
        <% @item_list.each do |item| %>
          <div id="item-<%= item.id %>">
          <td><%= item.name %></td>
          <td><%= cart.count_of(item.id) %></td>
          <td><%= number_to_currency(item.unit_price, precision: 0) %></td>
          <td><%= link_to t('.remove_item'), "/cart/#{item.id}", method: :delete, class: 'button is-danger is-light' %></td>
          </div>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
