<h2> items in cart</h2>
<% @item_list.each do |item| %>
  <%= item.name %>
  <%= cart.count_of(item.id) %>
  <%= link_to 'Remove Item', "/cart/#{item.id}", method: :delete %>
<% end %>
<% if user_signed_in? && current_user.customer != nil %>
  <%= link_to 'Create Order', orders_path, method: :post %>
<% else %>
  <%= link_to 'Sign in to Create Order', new_user_session_path %>
<% end %>
