<section class="section">
<%= form_with model: @bulk_discount, method: method, url: path, local: true do |form| %>

  <%= form.label 'percent discount:', class: 'label is-large' %>
    <%= form.text_field :pct_discount, class: 'input is-large' %></br></br>

  <%= form.label 'minimum quantity', class: 'label is-large' %>
    <%= form.text_field :min_qty, class: 'input is-large' %></br></br>
      
  <%= form.submit button_text, class: 'input button is-large is-primary' %>
<% end %>
</section>