<%= render 'merchant/dashboard/merchant_nav' %>

<h3 class="has-text-centered"><%= t('.my_items') %></h3>

<%= link_to t('.create_new_item'), new_merchant_item_path(@merchant), class: 'block button is-large' %>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child box" id="items-enabled">
        <p class="title"><%= t('.enabled_items') %></p>
        <% @merchant.items.enabled.each do |item| %>
          <p>
          <%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: 'is-size-5' %>
          <%= link_to t('.disable'), merchant_items_status_path(@merchant.id, item.id, {item: {status: "disabled"}}), method: :patch, class: 'button is-pulled-right' %>
          </p>
        <% end %>
        </p>
      </div>

      <div class="tile is-child box" id="items-disabled">
        <p class="title"><%= t('.disabled_items') %></p>
        <% @merchant.items.disabled.each do |item| %>
          <p>
            <%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: 'is-size-5' %>
            <%= link_to t('.enable'), merchant_items_status_path(@merchant.id, item.id, {item: {status: "enabled"}}), method: :patch, class: 'button block is-pulled-right', id: "btn-enable-#{item.id}" %>
          </p>
        <% end %>
      </div>
    </div>

    <div class="tile is-6 is-parent">
      <div class="tile is-child" id="top-items">
        <p class="title"><%= t('.top_items') %></p>
        <ol class="content is-medium">
          <% @merchant.top_5_items.each do |item| %>
            <li class="block">
              <div class="tile is-child">
                <p class="is-size-4"><%= item.name %> - <%= number_to_currency(item.total_revenue, precision: 0) %> in sales
                <p><%= "#{t('.top_day_for')} #{item.name} was #{item.best_day}" %></p>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>