<%= render 'merchant/dashboard/merchant_nav' %>

<h3 class="has-text-centered"><%= @item.name %></h3>

<section class="section">
  <p class="is-size-4"><%= t('.description') %>: <%= @item.description %></p>
  <p class="is-size-4"><%= t('.current_price') %>: <%= number_to_currency(@item.unit_price, precision: 0) %></p>
</section>

<%= link_to t('.edit_item'), edit_merchant_item_path(@item.merchant_id, @item.id), class: 'button block is-large is-fullwidth is-primary' %>