<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if admin_signed_in? %>
      <li><%= link_to 'Admin Dashboard', admin_index_path %></li>
      <li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete %></li>
    <% elsif merchant_signed_in? %>
      <li><%= link_to 'Merchant Dashboard', merchant_dashboard_index_path(current_merchant) %></li>
      <li><%= link_to 'current_merchant', edit_merchant_registration_path %></li>
      <li><%= link_to 'Log Out', destroy_merchant_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign Up', new_merchant_registration_path %></li>
      <li><%= link_to 'Login', new_merchant_session_path %></li>
    <% end %>
  </header>

  <body>
  <p class="flash">
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
  </p>
    <%= yield %>
  </body>
</html>
